 /* Pour centrer le calendrier horizontalement et verticalement */

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center; /* Centre horizontalement */
}

 .react-calendar-heatmap {
  /* border: 5px solid black; */
  width: 85%; /* Largeur calendrier */
}

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

/* Mouse hover couleur */
.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/* Github color */
.react-calendar-heatmap .empty {
  fill: #eeeeee;
}
.react-calendar-heatmap .green1 {
  fill: #d6e685;
}
.react-calendar-heatmap .green2 {
  fill: #8cc665;
}
.react-calendar-heatmap .green3 {
  fill: #44a340;
}
.react-calendar-heatmap .green4 {
  fill: #488645;
}
.react-calendar-heatmap .green5 {
  fill: #1e6823;
}


.react-calendar-heatmap .red {
  fill: #f57b7b;
}


.react-calendar-heatmap rect {
  rx: 3px; /* Rayon de coin horizontal */
  ry: 3px; /* Rayon de coin vertical */
}


/* Styles pour la légende */
.legend {
  margin-left: 11.5%;
}

.legend-item {
  width: 1%;
  border-radius: 10%;
  margin: 5px;
}
